*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row{
    display: flex;
    max-width: 1400px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.col-6{
    min-width: 300px;
    flex-basis: 50%;
  
}
#main ul{
    list-style-type: none;
    display: block;
}
#main ul li{
    display: inline-block;
 margin: 10px 10px;
}
#main ul li a{
    text-decoration: none;
    color: white;
}
#main{
     background-color:#354259; 
}
#main img{
    margin-top: 10px;
}
#banner img{
width: 100%;

  
}
#banner .col-12{
    max-width: 1400px;
    position: relative;
    
}
/* #banner{
    background-image: url("../photo/IMG_20191008_182343_HDR.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */
.content{
  
     margin: 0 auto;
     bottom: 300px;
     left: 450px;
      position: absolute;
 
}
.content h1{
    font-size: 40px;
    color: white;
    font-weight: 400;
}
.container{
    padding-left: 25px;
    padding-right: 25px;
}
#card .col-3{
 flex-basis: 20%;
 background-color: #006E7F;
 margin-right: 10px;
 padding-bottom: 20px;
 margin-top: 10px;
 min-width: 300px;
}
#card .col-3 .fa-house{
  font-size: 30px;
  margin-top: 20px;
}
#card .col-3 h1{
    padding-bottom: 20px;
    padding-top: 10px;
}
#card .col-3 p{
    padding-top: 30px;
    padding-bottom: 30px;
}
#card{
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #B8F1B0;
}
#project{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #B8F1B0;

}
#building{

    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #B8F1B0;
}
#building .col-3{
   flex-basis: 20%;
   margin: 0 5px;
   min-width: 300px;
}
#building img{
    width: 100%;
    border-radius: 20px;
}
#building h1{
    padding-top: 30px;
    padding-bottom: 30px;
}
#building h4{
    padding-top: 30px;
    padding-bottom: 30px;
}
#propertise{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #14C38E;

}
#propertise .col-3{
    flex-basis: 28%;
    margin: 10px;
    min-width: 300px;
}
#propertise .col-3 img{
    padding-top: 30px;
    width: 100%;
    border-radius: 20px;
}
#propertise h1{
  padding-top: 30px;
  padding-bottom: 30px;
}
#about{
    padding-top: 60px;
    padding-bottom: 60px;
}
#about h1{
    padding-top: 20px;
    padding-bottom: 20px;
}
#about .col-5{
    flex-basis: 45%;
    min-width: 350px;
}
#about .col-5 p{
    padding-top: 30px;
    text-align: justify;
}
#about .col-5 img{
   width: 80%;
   text-align: right;
   padding-top: 30px;
}
#about .col-5 ul{
    list-style-type: none;
    padding-bottom: 20px;
}
#about .col-5 ul li{
    margin-top: 10px;
    text-align: left;

}
#about .fa-arrow-right{
    font-size: 20px;
    margin-left: 20px;
}

#about button{
    float: left;
    height: 40px;
    width: 120px;
    box-shadow: 2px 3px 3px 0 rgb(86, 77, 77);
    border-radius: 10px;
    border: none;
    background-color: #14C38E;
    margin-left: 10px;
}
#about button a{
    text-decoration: none;
    color: white;
}
#footer .col-3{
   flex-basis: 22%;
   min-width: 300px;
}
#footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #354259;
    color: white;
}
#footer ul{
    list-style-type: none;
    margin-top: 20px;
}
#footer h1{
    margin-top: 20px;
    margin-right: 40px;
}
#footer ul li{
    margin: 10px;
   text-align: justify;
}

@media screen and (max-width:460px){
    .col-3{
     width: 100%;
     padding: 10px;
     text-align: center;
    }
    .content{
        transform: translatex(-400px);
        margin-right: 100px;
       
       
       }
    


}

@media screen and (max-width:840px){
    .col-3{
        width: 50%;
        padding: 10px;
        text-align: center;
        margin: 0;
    }
   .content{
    position: absolute;
    top: 300px;
    left: 155px;
    transform: translateX(-50px);
   }


}
@media screen and (max-width:450){
    .content{
     
    }
    
    
       
       }
    
    

@media screen and (max-width:600){
    #main .col-6{
      flex-direction: column;
        
       
       }
    
    
}